NEXT_PUBLIC_SUPABASE_URL=https://aumuidfrqffhanvheuwq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1bXVpZGZycWZmaGFudmhldXdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzOTQzOTUsImV4cCI6MjA4OTk3MDM5NX0.Bc1IEU0sRAOJFbwWWdQ2TCFdaqMNIT-SOVecVeiJmf8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1bXVpZGZycWZmaGFudmhldXdxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM5NDM5NSwiZXhwIjoyMDg5OTcwMzk1fQ.Upw1PuayHfb3I9fbbBa5cMrD4r2hgrtEQtLs7oINT3k
ADMIN_ACCESS_CODE=admin.ungrd